# Ignorar la carpeta .import (archivos importados)
.import/

# Ignorar la carpeta export (archivos de exportación)
export/

# Ignorar archivos de IDE (si estás usando uno como IntelliJ o VSCode)
.idea/
.vscode/

# Ignorar archivos generados por Godot
*.import

# Ignorar archivos de caché
/.godot/
